<div class="container">
  <div class="row">
    @for(producto of productos; track producto.id){
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <a class="btn btn-primary">Añadir al carrito</a>
          </div>
        </div>
      </div>
    }
  </div>
 